* {
box-sizing: border-box;
margin: 10px;
font-family: Arial;
}

nav {
padding: 60px 60px 0 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  text-align:center;
}

.a  {
text-align: center;
width: 25%
}

.b   {
 display: flex;
  background-color: #333;
  padding-left: 70px;
  padding-right:70px;
}



a{
color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
a:hover{
opacity: 0.5;
background-color: #68696b;

}


.container{
margin-left: 60px;
margin-right:60px;
padding: 20px;
}
.container h1 {

font-size:30px;
margin-left:0;
padding-left:0;
}
  
footer {
 padding: 10px;
  text-align: center;
  background: #ddd;
  }
